@page "/search"
@using BlazorApp.Service
@inject NavService navService

<PageTitle>Result</PageTitle>

<h1>Results</h1>
@if (items == null)
{
    
}
else if (!items.Any())
{
    <p>No items to display.</p>
}
else
{
    <MudPaper Class="pa-16 ma-2">

    @foreach (var item in items)
        {
            <ItemCard Item="@item"></ItemCard>
        }
    </MudPaper>
}


@code
{
    private IEnumerable<Item>? items;
    private string statusMessage = "";
    
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
    
    private async Task LoadPosts()
    {
        try
        {
            items = navService.SearchItems;
        }
        
        catch (Exception e)
        {
            Console.WriteLine(e);
            statusMessage = e.Message;
        }
    }
    
}